@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Imagens/pxfuel.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 500px; 
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    color: #fff;
    border-radius: 12px; 
    padding: 40px 50px; 
    position: relative; 
}

.wrapper h1 {
    font-size: 40px; 
    text-align: center;
    margin-bottom: 30px;
}

.input-box {
    position: relative;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 0 25px; 
    border-radius: 30px; 
    font-size: 18px; 
    color: #fff;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 25px; 
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 24px; 
}

.wrapper .btn {
    display: block;
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 15px rgb(0, 0, 0, .1); 
    cursor: pointer;
    font-size: 18px; 
    color: #333;
    font-weight: 600;
    margin-top: 20px; 
}

.wrapper .login-link {
    font-size: 16px; 
    text-align: center;
    margin: 25px 0 20px; 
}

.wrapper .login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .login-link p a:hover {
    text-decoration: underline;
}

.wrapper .remember-forgot a:visited {
    color: #fff;
}

.wrapper .register-link a:visited {
    color: #fff; 
}

.wrapper .remember-forgot a {
    text-decoration: none; 
    font-weight: 600; 
}

.wrapper .remember-forgot a:hover {
    text-decoration: underline; 
}

.wrapper .register-link a {
    text-decoration: none; 
    font-weight: 600; 
}

.wrapper .register-link a:hover {
    text-decoration: underline; 
}
