body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

.cent_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-toggle {
    font-size: 24px;
    cursor: pointer;
}

.nome_navbar {
    font-weight: bold;
}

.link_navbar {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.link_navbar:hover {
    background-color: #555;
    border-radius: 5px;
}

.wrapper {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

section {
    padding: 0;
}

article {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    color: #333;
    margin-top: 0;
}

.post-info {
    color: #666;
}

.input-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-box input[type="text"], .input-box input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-box i {
    font-size: 20px;
    color: #333;
    margin-left: -30px;
}

.btn {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}

.comments {
    list-style-type: none;
    padding: 0;
}

.comments li {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
