@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background: darkblue;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 200%;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-right: 50px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 110%; 
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-right: 10px; 
    position: relative;
}

.navbar a:last-child {
    margin-right: 0;
}

.nome_navbar {
    margin-right: 10px;
    font-size: 110%; 
    color: #fff; 
}

.navbar a:hover::before {
    width: 100%;
}

.navbar a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
}

.wrapper,
section {
    margin-top: 100px;
}
