/*arquivo separado para barra de navegação*/
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #666;
    padding: 10px;
}

.link_navbar {
    text-decoration: none; 
    color: #fff; 
    padding: 10px 20px; 
    margin-right: 20px; 
    font-weight: bold; 
}

.link_navbar:hover {
    background-color: #123142; 
    border-radius: 5px; 
}

.link_navbar.active{ 
    color: #007bff; 
    border-bottom: 2px solid #007bff; 
}
#mensagem{
    text-align: center;
}
.signup-link {
    text-align: center;
}
.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}